/* CSS styles for the entire webpage */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 10;
}
header h1 {
    font-size: 24px;
}

section h1 {
    padding-bottom: 30px;

}

.subtitle {
    font-size: 18px;
    font-style: italic;
    margin-top: -10px;
}

/* Navigation styles */
nav {
    background-color: #444;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
nav ul li a:hover {
    color: #ccc;
}

/* Section */
section {
    padding: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-image: linear-gradient(to left, rgb(29, 27, 27) , rgb(165, 35, 251)); 
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.table-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* vertical dividers for both thead and tbody */
.song-table {
    border-collapse: collapse; 
    width: 100%;
}

/* table header */
.song-table thead th {
    padding: 10px;
    text-align: left;
}

/* table cells */
.song-table tbody td {
    padding: 10px;
    text-align: left;

}

/* Show All button 
https://html.form.guide/snippets/css-button-rounded-corners/*/
.show-all-button {
    float: right;
    color: black;
    width: 100px;
    height: 35px;
    background-color: #6ff1f1;
    border-radius: 15px;
    margin-top: 15px;
    font-weight: bold;
    
}
.show-all-button:hover {
    background-color: rgb(255, 0, 132);
    color: black; 
    cursor: pointer;
}

button[name='add_to_favorites'], button[name='viewBtn'] {
    background-color: rgb(247, 0, 255);
    border-radius: 15px;
    width: 105px;
    height: 30px;
    font-weight: bold;
}

button[name='add_to_favorites']:hover, button[name='viewBtn']:hover {
    background-color: #6ff1f1;
    color: black; 
    cursor: pointer;
}

/* hyperlinks */
a {
    color: black; 
    text-decoration: none; 
}

